.container {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
        color: #173b82;
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 40px;
    }

    h3 {
        font-weight: 600;
        font-size: 20px;
        color: #173b82;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        div {
            display: flex;
            gap: 2rem;
            h3 {
                font-size: 16px;
                color: #173b82;
                &:hover {
                    cursor: pointer;
                    transform: translateY(-4px);
                    transition: 0.3s ease-in;
                    color: var(--hover-col);
                }
            }
        }
    }
}

.iconContainer {
    display: flex;
    gap: 20px;
}

.accountSpan {
    margin-top: 2rem;
    color: var(--primary-col);
}

.accountSpan > span:nth-child(2) {
    font-weight: 600;
}
.accountSpan > span:nth-child(2):hover {
    cursor: pointer;
    color: var(--hover-col);
    transform: translateY(-4px);
    transition: 0.3s ease-in;
}
