.container {
    top: 0;
    width: 100%;
    background: url('./image/navbg.png');
    background-size: cover;
    padding: 15px 60px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    clip-path: polygon(50% 9%, 100% 0, 100% 100%, 51% 90%, 0 100%, 0 0);
}

.NavList {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.phonecontainer {
    display: none;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    color: #173b82;
    background: url('./image/navbg.png');
    background-size: cover;

    h3 {
        margin: 0;
        font-size: 22px;
        font-weight: 900;
        cursor: pointer;
    }

    svg {
        font-size: 30px;
        margin-top: 8px;
    }

    ul {
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        position: absolute;
        margin: 0;
        right: 0;
        left: 0;
        list-style-type: none;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.5s;
        gap: 5vh;
        z-index: 1000;

        li {
            font-size: 20px;
            font-weight: bold;
            &:hover {
                color: #bd3333;
            }
        }

        svg {
            font-size: 30px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }
}

@media only screen and (max-width: 720px) {
    .container {
        display: none;
    }
    .phonecontainer {
        display: flex;
    }
}
