.container {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 100px;
}

.leftContent h1 {
    color: #173b82;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 40px;
}

.leftContent {
    width: 100%;
}

.leftContent h3 {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-col);
}

.logPassword {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.logPassword h3 {
    margin-top: 3rem;
    font-size: 16px;
}

.logPassword h3:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.3s ease-in;
    color: var(--hover-col);
}

.iconContainer {
    display: flex;
    gap: 20px;
}

.accountSpan {
    margin-top: 2rem;
    color: var(--primary-col);
}

.accountSpan > span:nth-child(2) {
    font-weight: 600;
}

.accountSpan > span:nth-child(2):hover {
    cursor: pointer;
    color: var(--hover-col);
    transform: translateY(-4px);
    transition: 0.3s ease-in;
}
