.container {
    width: 100%;
    padding-left: 4em;
    padding-right: 4em;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 30px;
    justify-content: center;
    margin-bottom: 100px;

    @media (max-width: 750px) {
        flex-direction: column;
    }
}
