.container {
    flex: 1;
    width: 100%;
    align-self: flex-start;
    img {
        width: 100%;
        object-fit: contain;
        height: 60vh;
    }

    @media screen and (max-width: 800px) {
        display: none;
    }
}
