.container {
    flex: 1;
    width: 100%;

    h1 {
        color: #173b82;
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        color: #173b82;
    }

    h3 {
        font-weight: 600;
        font-size: 20px;
        line-height: 38px;
        color: #173b82;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

.logPassword {
    display: flex;
    flex-direction: row;
    gap: 6rem;
}

.logPassword h3 {
    margin-top: 3rem;
    font-size: 16px;
}
.logPassword h3:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: 0.3s ease-in;
    color: var(--hover-col);
}
.iconContainer {
    display: flex;
    gap: 20px;
}

.accountSpan {
    margin-top: 2rem;
    color: var(--primary-col);
    font-size: 16px;
    margin-bottom: 100px;
}

.accountSpan > span:nth-child(2) {
    font-weight: 600;
}
.accountSpan > span:nth-child(2):hover {
    cursor: pointer;
    color: var(--hover-col);
    transform: translateY(-4px);
    transition: 0.3s ease-in;
}
