.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        360deg,
        #173b82 0%,
        rgba(255, 255, 255, 0) 100%
    );
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: -100px;
    z-index: -100;
    button {
        width: 50px;
        height: 50px;
        visibility: hidden;
    }
}

.globe {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
    transition: all 1.5s;
    background-image: url('./image/globe.png');
    //   background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
}

.dots {
    position: absolute;
    width: 0px;
    height: 0px;
    background-color: white;
    border-radius: 100px;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    border-color: rgba(23, 59, 130, 0.2);
    font-size: 12px;
    color: rgba($color: black, $alpha: 0);
    transition-delay: 0.2s;
    transition: 0.5s;
    border-style: solid;
    width: 25px;
    height: 25px;
    outline-color: rgba(23, 59, 130, 0.2);
    outline-style: solid;
    overflow: hidden;
    cursor: pointer;
    text-align: center;

    &:hover {
        width: 100px;
        height: 50px;
        text-align: center;
        padding-top: 15px;
        color: rgba($color: black, $alpha: 1);
        display: block;
    }
}

@keyframes blink {
    0% {
        // width: 5px;
        // height: 5px;
        outline-width: 2px;
    }
    100% {
        // width: 30px;
        // height: 30px;
        outline-width: 15px;
    }
}
