.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(360deg, #173b82 0%, rgba(255, 255, 255, 0) 100%);
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  button {
    width: 50px;
    height: 50px;
    visibility: hidden;
  }
}

.globe {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100% 100%;
  transition: all 1.5s;
  background-image: url("./image/globe.png");
  //   background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
}

.dots {
  position: absolute;
  width: 0px;
  height: 0px;
  background-color: white;
  border-radius: 100px;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  border-color: black;
  font-size: 0px;
  transition: all 1.5s;
}

@keyframes blink {
  0% {
    background-color: rgb(238, 238, 238);
  }
  100% {
    background-color: rgb(255, 255, 255);
  }
}
