.pageContainer {
  position: relative;
  width: 100%;
  height: calc(100vh - 150px);
  position: relative;
  width: 100%;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.left,
.right {
  h1,
  p,
  h2,
  h3 {
    color: #173b82;
    padding: 0;
    margin: 0;
  }
}

.left {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  div {
    h1 {
      font-weight: 400;
      font-size: 40px;
    }

    h3 {
      font-weight: 300;
      font-size: 35px;
    }
  }
}

.iconContainer {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.right {
  width: 100%;
}

.right h1 {
  font-weight: 600;
  font-size: 20px;
}

.right p {
  width: 60%;
  font-size: 15px;
  margin-top: 5px;
}

.right h2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

@media only screen and (max-width: 850px) {
  .container {
    width: 90%;
    flex-direction: column;
    gap: 100px;
  }
}
