.infoBox {
  width: 100%;
  height: 100vh;
  padding: 30px;
  box-sizing: border-box;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: inset 10px 10px 10px #cbced19e, inset -6px -6px 6px white;
  border: none;
  resize: none;
  font-size: 18px;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: 5px;
  scrollbar-color: var(--primary-color);
}
