.imagesContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}

.imagesContainer img {
  width: 100%;
  border-radius: 12px;
  padding: 4px;
  transition: margin-top 250ms;
}
