.container {
    width: fit-content;
    padding: 15px 40px;
    text-align: center;
    font-size: 15px;
    border-radius: 100px;
    box-shadow: 7px 7px 10px #cbced1, -2px -2px 10px white;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: #173b82;
    font-weight: 700;
    border: 0px;
    background-color: white;

    &:focus {
        outline: 0px;
    }
}
