.container {
  width: 100%;
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(174, 174, 192, 0.3),
    inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #ffffff;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
  width: 100%;
  border-radius: 32px;
  height: 100%;
  max-height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
  }

  position: relative;

  div {
    position: absolute;
    top: 1%;
    bottom: 1%;
    left: 0px;
    right: 0px;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    background-color: rgba(0, 0, 0, 0.243);
  }
}

.right {
  flex: 1;
  width: 100%;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;

  h1,
  p {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-weight: 400;
    font-size: 16px;
    color: #173b82;
    margin-bottom: 10px;
  }

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #173b82;
  }
}
