.container {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: linear-gradient(
            135.37deg,
            rgba(0, 0, 0, 0.4) 4.29%,
            rgba(255, 255, 255, 0.4) 95.6%
        ),
        #f4f4f4;
    background-blend-mode: soft-light, normal;
    /* neo-stroke */

    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: inset -9px -9px 16px #fafbff,
        inset 5px 5px 16px rgba(166, 171, 189, 0.39);
    border-radius: 34px;
    padding: 50px 100px;

    h1 {
        color: #173b82;
        margin: 0;
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}
