.container {
    margin-left: 6em;
    margin-right: 6em;
    margin-top: 100px;
    margin-bottom: 100px;

    h1 {
        color: #173b82;
        font-weight: 700;
        font-size: 32px;
    }
    
}

.gridContainer {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
