.container {
  margin-left: 6em;
  margin-right: 6em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.itemContainer {
  width: 100%;
  border-radius: 20px;
  &::-webkit-scrollbar {
    width: 0px;
  }
  box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px rgba(174, 174, 192, 0.3),
    inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #ffffff;
}

.item {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  scroll-snap-align: start;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center center;
  }

  // &:hover {
  //     div {
  //         padding: 20px;
  //         height: 100%;
  //         p {
  //             display: block;
  //         }
  //     }
  // }

  div {
    position: absolute;
    inset: 0;
    background-color: rgba(24, 59, 130, 0.3);
    height: 100%;
    transition: all 0.2s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.itemText {
  padding: 10px 40px;
  color: rgb(24, 59, 130);
  padding-bottom: 50px;
  h1 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 25px;
  }
  p {
    margin: 0;
    padding: 0;
    width: 50ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a {
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }
}
