@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
  background-color: #f4f4f4;
  /* background-color: white; */
}

.loadingContainer {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #173b82;
  animation: fadeIn 1s;
  animation-delay: 2s;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@keyframes fadeIn {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

.loadingContainer img {
  animation: fadeInText 3s;
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%);
  color: white;
  width: 30vw;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

body::-webkit-scrollbar {
  width: 0px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*---------------------------- Margins  ----------------------------*/

.top-margin-high {
  margin-top: 80px !important;
}

.top-margin-meduim {
  margin-top: 50px !important;
}

.top-margin-low {
  margin-top: 20px !important;
}

/*--------------------------- Paddings ----------------------------*/
.high-padding {
  padding: 30px;
}

.meduim-padding {
  padding: 20px;
}

.low-padding {
  padding: 10px;
}

/*--------------------------- Corners ----------------------------*/
.high-corner {
  border-radius: 20px;
}

.medium-corner {
  border-radius: 15px;
}

.low-corner {
  border-radius: 10px;
}

/*----------------------------- Shadow --------------------------*/
.medium-shadow {
  box-shadow: 10px 10px 10px rgba(7, 30, 75, 0.3);
}

/*---------------------------- Colors ----------------------------*/
.primary-color {
  color: #173b82;
}

.secondary-color {
  color: white;
}

/*--------------------------- text-weight ---------------------------*/
.light-text {
  font-weight: 300;
}

/*--------------------------- font sizes --------------------------*/
.text-1 {
  font-size: 34px;
}

.text-2 {
  font-size: 28px;
}

.text-3 {
  font-size: 22px;
}

.text-4 {
  font-size: 16px;
}

:root {
  --primary-color: #173b82;
  --white: #ffffff;
}
