.container {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 150px;
    }

    h1,
    p {
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 28px;
        margin-bottom: 10px;
        color: #173b82;
        font-weight: 600;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        color: #173b82;
    }
}
